<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>portal0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,196},{190,86}}</string>
			<key>offset</key>
			<string>{-3,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{190,86}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>portal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{190,94}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{190,94}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>portal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,284},{186,90}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{186,90}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>portal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,96}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{192,96}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
		<key>portal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,284},{186,94}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{186,94}}</string>
			<key>sourceSize</key>
			<string>{200,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>portalAnim.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c1c8605caecb3dd1b44045182b0a90ec$</string>
		<key>textureFileName</key>
		<string>portalAnim.png</string>
	</dict>
</dict>
</plist>
